body
{
color:white;
background-color:black;
} 

.thumb 
{
 width: 150px;
 height: 170px;
 border: 1px solid #000;
 margin: 10px 5px 0 0;
}

#unk
{
margin-left: auto;
margin-right: auto;
width: 40%;
background-color: #0077AA;
border-radius: 10px;
}

#div1
{
margin-left: auto;
margin-right: auto;
width: 40%;
background-color: #009955;
border-radius: 10px;
}

